.head{
  height:100px;
  width: 30%;
  float:left;
  text-align:right;
}

.details{
	height:100px;
  width:60%;
  float:right;
  border-left: 1px solid #999;
}
.top{
	padding:12%;
}

.title{
		border-bottom:1px solid black;
		margin:2%;
}

img{
	#float:right;
	#position:absolute;
	position:relative;
	position:absolute;
	bottom:60%;
	left:65%;
	transform:rotate(-5deg);
	border:8px solid white;
}
img{
	#float:right;
	
	#bottom:450px;
	#left:300px;
}
.page{
  width:850px;
  margin: 40px auto 60px;
  background-color:WhiteSmoke;
}

p,ul{
	font-family:"Times New Roman";
	font-size:20px;
}
h1,h4{
	font-weight: bold;
}
